.chess-board {
    max-width: 600px;
    aspect-ratio: 1;
    background-color: yellowgreen;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: column;
}